.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  user-select: none;
  padding: 1rem;
  box-shadow:
    0.6rem 0.6rem 1.3rem 0.1rem var(--dark-shadow),
    inset 0 0 0.5rem 0 var(--dark-shadow);
  border: none;
  border-radius: 50%;
  background-color: var(--bg-color);
  transition: 0.2s;
  cursor: pointer;
}

.settings:hover .icon {
  transform: rotate(120deg);
}

.settings:active,
.settings.open {
  box-shadow:
    0 0 0.5rem 0 var(--dark-shadow),
    inset 0.6rem 0.6rem 1.3rem 0.1rem var(--dark-shadow),
    inset -0.6rem -0.6rem 1.3rem 0.1rem var(--light-shadow);
  transform: scale(0.92);
}

.icon {
  width: 3rem;
  height: 3rem;
  transition: 0.4s;
}
