.wrapper {
  margin: 0 auto;
}

.loader {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border: 0.3rem solid var(--text-color);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: -0.7rem;
  top: -0.7rem;
  width: 1rem;
  height: 1rem;
  background: var(--accent-color);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: -0.7rem;
  bottom: -0.7rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
