.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.certificate {
  width: 3rem;
  height: max-content;
}

.link {
  transition: 0.2s;
}

.rs_link {
  color: #000000;
}

.link:hover {
  transform: scale(0.9);
}
