.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  filter: drop-shadow(0.4rem 0.4rem 0.8rem var(--dark-shadow));
}

.certificate {
  width: 3rem;
  filter: drop-shadow(0.4rem 0.4rem 0.8rem var(--dark-shadow));
  height: 3rem;
}

.link {
  transition: 0.2s;
}

.link:hover {
  transform: scale(1.1);
}
