.cloud {
  z-index: -1;
  user-select: none;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50%;
  height: auto;
  will-change: transform;
}

.small {
  width: 20%;
  filter: opacity(35%);
}
