.cloud {
  z-index: -1;
  user-select: none;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 55%;
  height: auto;
  will-change: transform;
}

.small {
  width: 25%;
  filter: opacity(35%);
}

@media screen and (max-width: 1200px) {
  .cloud {
    width: 70%;
  }

  .small {
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .cloud {
    width: 80%;
  }

  .small {
    width: 50%;
  }
}
