.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 100%;
  height: 70rem;
  padding: 0 5rem 10rem 5rem;
}

.template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.02) 0.2rem, transparent 0.2rem),
    linear-gradient(to right, rgba(0, 0, 0, 0.02) 0.2rem, transparent 0.2rem);
  background-position: center;
  background-size: 5rem 5rem;
  mask-image: linear-gradient(to top, black 0%, black 100%), linear-gradient(to top, transparent 0%, black 100%),
    linear-gradient(to right, transparent 0%, black 100%), linear-gradient(to bottom, transparent 0%, black 100%),
    linear-gradient(to left, transparent 0%, black 100%);
  mask-position: center, top, right, bottom, left;
  mask-size:
    100% 100%,
    100% 28rem,
    28rem 100%,
    100% 28rem,
    28rem 100%;
  mask-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  mask-composite: subtract, add, add, add;
}

.bulb {
  user-select: none;
  grid-column-start: 2;
  grid-row: 2 / 4;
  filter: drop-shadow(0 -2rem 5rem yellow);
}

.skill {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.icon {
  user-select: none;
  width: 7rem;
  height: 7rem;
}

.communication {
  justify-self: center;
  grid-column-start: 2;
}

.mentoring {
  justify-self: end;
  grid-column-start: 1;
  grid-row-start: 2;
}

.problem {
  justify-self: end;
  grid-column-start: 1;
  grid-row-start: 3;
}

.ambiguity {
  grid-column-start: 3;
  grid-row-start: 2;
}

.introspection {
  grid-column-start: 3;
  grid-row-start: 3;
}
