.header {
  width: 100%;
  margin: 0 auto;
  backdrop-filter: blur(0.05rem);
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.nav_item {
  text-align: center;
  font-family: var(--main-font);
  border-bottom: 0.3rem solid transparent;
  cursor: pointer;
}

.nav_item:hover {
  border-color: var(--dark-color);
}

.nav_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
