.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0 1.5rem 0;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(2rem);
  border-bottom-left-radius: 50% 55%;
  border-bottom-right-radius: 50% 55%;
  box-shadow: 0 0 1rem 0.5rem var(--bg-color-transparent);
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
}
