.icon {
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  filter: invert(100%);
  cursor: pointer;
}

.active,
.active path {
  filter: none;
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
