.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
}

.projects_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.video_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 45%;
  will-change: transform;
  border-radius: 1.5rem;
}

.video {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.8;
  transform: translateX(-6%) scale(0.95);
  border-radius: 1.5rem;
  animation: appear 0.2s forwards;
}

.hidden_video {
  display: none;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: none;
  }
}
