.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.video_position_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 45%;
  will-change: transform;
  border-radius: 1.5rem;
}

.video_wrapper {
  position: relative;
  height: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 1.5rem;
  transition: 0.15s;
}

.hidden_video {
  transform: scale(0.8);
  opacity: 0;
}
