.section {
  position: relative;
  grid-column: 2 / 5;
  grid-row-start: 1;
  padding: 1.5rem 1.5rem 5.5rem 1.5rem;
  border-radius: 2.5rem;
  background-color: var(--bg-color-transparent);
  box-shadow:
    inset -0.3rem -0.3rem 0.2rem 0 var(--dark-shadow),
    0.4rem 0.4rem 1rem 0.1rem var(--dark-shadow),
    inset 0.4rem 0.4rem 1rem 0.1rem var(--light-shadow);
  transition: 0.2s;
}

.location {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-weight: bold;
}

.icon {
  width: 3rem;
  height: 3rem;
}

@media (hover: hover) {
  .section:hover {
    transform: scale(1.005) translateY(-1%);
    box-shadow:
      inset -0.3rem -0.3rem 0.2rem 0 var(--dark-shadow),
      0.6rem 0.6rem 1.2rem 0.1rem var(--dark-shadow),
      inset 0.4rem 0.4rem 1rem 0.1rem var(--light-shadow);
  }
}
