.select {
  font-weight: bold;
  background-color: transparent;
  padding: 0.5rem;
}

.option {
  background-color: var(--bg-color);
}

.hint {
  opacity: 0;
  margin: -1.7rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.visible {
  opacity: 1;
}
