.wrapper {
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  gap: 4rem;
  padding-bottom: 4rem;
}

.not_found_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.not_found_link {
  font-size: 3rem;
}

@media screen and (max-width: 950px) {
  .wrapper {
    gap: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
