.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  max-width: 1440px;
  margin-top: 4rem;
  padding: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: -2rem;
}

.image {
  z-index: 1;
  position: relative;
  width: 40%;
  height: 30rem;
  margin: 0 auto;
  background-image: url('../assets/img/photo_light.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.5rem 0.5rem 1.2rem 0.1rem var(--dark-shadow);
  border-radius: 1.6rem;
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../assets/img/noise.png');
  background-repeat: repeat;
  border-radius: 1.6rem;
  box-shadow: 0.5rem 0.5rem 1.2rem 0.1rem var(--dark-shadow);
  backdrop-filter: blur(0.65rem) saturate(50%);
}

.text_name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.text_location {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: -0.5rem;
  filter: drop-shadow(0.4rem 0.4rem 0.8rem var(--dark-shadow));
}

.contacts_summary {
  display: flex;
  gap: 3rem;
  box-shadow:
    0.6rem 0.6rem 1.3rem 0.1rem var(--dark-shadow),
    -0.6rem -0.6rem 1.3rem 0.1rem var(--light-shadow);
  border-radius: 4rem;
}
