.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.02) 0.2rem, transparent 0.2rem),
    linear-gradient(to right, rgba(255, 255, 255, 0.02) 0.2rem, transparent 0.2rem);
  background-size: 5rem 5rem;
  background-color: var(--dark-color-transparent);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.5rem var(--dark-shadow);
}

.title {
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    'ts ts ts css css js'
    'ts ts ts css css js'
    'html html react react next jest'
    'git git react react next vitest'
    'vite vite webpack redux redux mui';
  width: 100%;
  height: 90rem;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 1rem;
  min-height: 1rem;
  filter: grayscale(100%);
  transition: 0.2s;
}

.ts {
  grid-area: ts;
}
.css {
  grid-area: css;
}
.html {
  grid-area: html;
}
.js {
  grid-area: js;
}
.git {
  grid-area: git;
}
.react {
  grid-area: react;
}
.next {
  grid-area: next;
}
.vite {
  grid-area: vite;
}
.webpack {
  grid-area: webpack;
}
.redux {
  grid-area: redux;
}
.jest {
  grid-area: jest;
}
.vitest {
  grid-area: vitest;
}
.mui {
  grid-area: mui;
}

.icon {
  pointer-events: none;
  user-select: none;
  width: 60%;
  height: 60%;
  transition: 0.2s;
}

.caption {
  opacity: 0;
  font-weight: bold;
  transition: 0.12s;
  transform: translateY(-100%);
}

@media (hover: hover) {
  .cell:hover {
    filter: none;
    box-shadow: inset 0 0 2rem 0.1rem var(--dark-shadow);
  }

  .cell:hover .icon {
    transform: scale(0.95);
  }

  .cell:hover .caption {
    opacity: 1;
    transform: none;
    color: #ffffff;
  }
}

@media (hover: none) {
  .cell {
    filter: none;
  }

  .cell .caption {
    opacity: 1;
    transform: none;
    color: #ffffff;
  }
}

@media screen and (max-width: 950px) {
  .grid {
    height: 75rem;
  }
}

@media screen and (max-width: 850px) {
  .caption {
    font-size: 1.4rem;
  }

  .icon {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 750px) {
  .grid {
    height: 60rem;
  }
}

@media screen and (max-width: 650px) {
  .grid {
    height: 50rem;
  }
}

@media screen and (max-width: 550px) {
  .grid {
    height: initial;
    grid-template: repeat(7, 1fr) / repeat(2, 50%);
    grid-template-areas:
      'ts js'
      'html css'
      'react next'
      'redux mui'
      'vite webpack'
      'jest vitest'
      'git git';
    align-items: center;
    justify-items: center;
    align-self: center;
    row-gap: 1.5rem;
  }

  .cell {
    width: 100%;
    height: 10rem;
  }

  .icon {
    width: 70%;
    height: 70%;
  }

  .caption {
    font-size: 1.5rem;
  }
}
