.wrapper {
  z-index: -1;
  position: absolute;
  top: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  padding: 1.5rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  transform-origin: top;
  transform: scale(0) translateY(-50%);
  box-shadow:
    0.4rem 0.4rem 1rem 0.1rem var(--dark-shadow),
    inset -0.2rem -0.2rem 0.2rem 0.1rem var(--dark-shadow),
    inset 0.4rem 0.4rem 1rem 0.1rem var(--light-shadow);
  transition: 0.2s;
}

.visible {
  z-index: 1;
  transform: scale(1) translateY(10%);
  opacity: 1;
}

.theme_wrapper {
  position: relative;
  width: 8rem;
  height: 3.8rem;
  padding: 0rem 0.5rem;
  box-shadow:
    0.6rem 0.6rem 1rem 0.1rem var(--dark-shadow),
    inset -0.2rem -0.2rem 0.2rem 0.1rem var(--dark-shadow),
    inset 0.6rem 0.6rem 1rem 0.1rem var(--light-shadow);
  border-radius: 3rem;
}

.input {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0rem;
  width: 2rem;
  height: 2rem;
  margin: auto 0;
  padding: 0.5rem;
  background-image: url('../../../../../assets/img/sun.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: var(--dark-color);
  filter: drop-shadow(0 0 0.8rem var(--dark-shadow));
  border-radius: 50%;
  transition: 0.3s;
}

.input:checked + .switch::after {
  left: calc(100% - 3rem);
  background-image: url('../../../../../assets/img/moon.svg');
  background-color: var(--bg-color);
}
