.wrapper {
  z-index: 2;
  position: fixed;
  top: 20dvh;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 65dvh;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow:
    0.6rem 0.6rem 1rem 0.1rem var(--dark-shadow),
    inset 0.6rem 0.6rem 1rem 0.1rem var(--light-shadow);
  animation: appear_right 0.3s forwards;
}

.blackout {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--weak-color);
}

.wrapper_background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  opacity: 0.8;
}

.close {
  z-index: 1;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.2s;
}

.icon {
  width: 100%;
  height: 100%;
}

.gh_icon {
  width: 4rem;
  height: 4rem;
}

.image_preview {
  width: 100%;
  height: 45%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2rem 2rem 2rem var(--dark-shadow));
  border-radius: 2rem 2rem 0 0;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 55%;
  overflow: auto;
  padding: 2rem;
}

.text {
  text-align: justify;
  line-height: 2.35rem;
}

.links_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.server_link {
  justify-self: start;
  grid-column-start: 1;
}
.view_link {
  justify-self: end;
  grid-column-start: 2;
}

.link,
.code_link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.2s;
}

.code_link {
  margin: 0 auto;
}

@media (hover: hover) {
  .wrapper:hover .close {
    opacity: 1;
  }

  .close:hover {
    transform: scale(1.1);
  }

  .link:hover {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 50vw;
  }
}

@media screen and (max-width: 950px) {
  .blackout {
    display: block;
  }

  .wrapper {
    inset: 0;
    width: 75vw;
    margin: auto;
    animation: appear_top 0.3s forwards;
  }
}

@media screen and (max-width: 650px) {
  .image_preview {
    width: 75%;
    height: 35%;
  }

  .info_wrapper {
    height: 65%;
  }

  .links_wrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 80vw;
    height: 80dvh;
  }

  .close {
    top: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .image_preview {
    width: 70%;
    height: 30%;
  }

  .info_wrapper {
    height: 70%;
    padding: 1rem;
  }

  .link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 420px) {
  .info_wrapper {
    padding: 0 1rem;
  }
}

@keyframes appear_right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appear_top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
