.nav_item {
  position: relative;
  text-align: center;
  font-family: var(--main-font);
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
}

.nav_item::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--accent-color);
  border-radius: 1rem;
  transition:
    transform 0.5s cubic-bezier(0.2, 1, 0.2, 1),
    box-shadow 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.active::before {
  transform: scaleX(1);
}

.nav_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}

@media (hover: hover) {
  .nav_item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media screen and (max-width: 850px) {
  .nav_link {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .nav_link {
    color: #ffffff;
  }
}
