.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.small_icon {
  width: 3rem;
  height: auto;
  transition: 0.2s;
}

.small_icon:hover {
  transform: scale(0.9);
}
