.wrapper {
  user-select: none;
  width: max-content;
  padding: 2rem;
  margin: 0 auto;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.2s;
}

.text:hover {
  color: var(--accent-color);
}
