.section {
  padding: 1.5rem;
  backdrop-filter: brightness(90%);
  border-radius: 4rem;
  box-shadow:
    inset -0.2rem -0.2rem 0.2rem 0.1rem var(--dark-shadow),
    0.4rem 0.4rem 1rem 0.1rem var(--dark-shadow),
    inset 0.3rem 0.3rem 1rem 0.1rem var(--light-shadow);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.divider {
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--weak-color) 50%, rgba(0, 0, 0, 0) 100%);
}
